extends layout.pug

include mixins

block content
  <h1>Par quartier / Type de cuisine :</h1>

  <form method="get" action="?">
    <div class="list-types">
      <select name="borough">
      each borough in boroughs
        <option #{selectedBorough === borough ? ' selected' : ''} value="#{borough}">#{borough}</option>
      </select>
      <select name="cuisine">
      each cuisine in cuisines
        <option #{selectedCuisine === cuisine ? ' selected' : ''} value="#{cuisine}">#{cuisine}</option>
      </select>
    </div>

    <button type="submit">Rechercher</button>
  </form>
  
  if results
    <ul class="list-results">
    each restaurant in results
      +restaurantCard(restaurant)
    </ul>